<PaperChips @content={{this.tags}} @readOnly={{false}} @removeItem={{fn this.removeTag}} @addItem={{fn this.addTag}} @placeholder="Add a tag" />
<PaperForm {{on "submit" this.createItem}} as |form|>
  <div class="layout-column">
    <form.input @label="Name" @value={{this.name}} @onChange={{fn (mut this.name)}} @required={{true}} />
    <form.input @label="Short Description" @value={{this.description}} @onChange={{fn (mut this.description)}} />
    <form.submit-button @raised={{true}} @primary={{true}}>Submit</form.submit-button>
  </div>
</PaperForm>