<PaperItem @class="md-3-line">
  <div class="md-list-item-text">
    <h3>{{@selectedItem.name}}</h3>
    <p>{{@selectedItem.description}}</p>
    <PaperChips @content={{@selectedItem.tags}} @readOnly={{true}} />
  </div>
</PaperItem>