.bottom-toolbar {
  position: fixed;
  bottom: 0;
  padding: 2rem 3rem;
  box-shadow: paper-contrast-color($primary) 0px 3px 10px 2px;
  z-index: 100;
  background: #fff;
  // width: 100%;

  @include medium {
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1rem;
    width: 75%;
  }
}