{{outlet}}

<BottomToolbar @isActive={{this.hasntAcknowledged}}>
  <p>As we iron out the kinks in our system, and make the page pretty, we will be using your browsers <a href="https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage">Local Storage</a> to maintain session data. This means that in the case that you clear your browser data, or use a different browser or device, you will not have your lists available. We hope to have accounts set up in the near future to allow cross-device usage of this system.</p>
  <PaperButton
    @raised={{true}}
    @accent={{true}}
    {{on "click" this.acknowledge}}
  >
    I Understand
  </PaperButton>
</BottomToolbar>