<PaperSidenavContainer @class="site-nav-container">
  {{#if this.sideBarLocked}}
  <PaperSidenav @class="md-whiteframe-z2 site-sidenav" @open={{this.isSidenavOpen}} @onToggle={{fn (mut this.isSidenavOpen)}} @lockedOpen={{this.sideBarLocked}}>
    <PaperToolbar @class="site-content-toolbar" @tall={{true}}>
      <div class="logo layout-column layout-align-center-center">
        <h1>HELP ME<br>DECIDE</h1>
      </div>
    </PaperToolbar>

    <PaperContent>

      <PaperList>
        {{#each @model.categories as |category|}}
          <PaperItem
            @active={{is-current-route this.currentRouteName category}}
            {{on "click" (fn this.goToCategory category)}}
            @class={{concat "menu-item" (if this.active " active")}}
          >
            {{pretty-name category}}
          </PaperItem>
        {{/each}}
      </PaperList>

      <div class="layout-column flex">
        <PaperButton
          {{on "click" this.openCreateCategory}}
          @raised={{true}}
          @primary={{true}}
        >
          Create New Category
        </PaperButton>
      </div>
    </PaperContent>
  </PaperSidenav>
  {{else}}
  <PaperSidenav @class="md-whiteframe-z2 site-sidenav" @lockedOpen="gt-sm" @open={{this.isSidenavOpen}} @onToggle={{fn (mut this.isSidenavOpen)}}>
    <PaperToolbar @class="site-content-toolbar" @tall={{true}}>
      <div class="logo layout-column layout-align-center-center">
        <h1>HELP ME<br>DECIDE</h1>
      </div>
    </PaperToolbar>

    <PaperContent>

      <PaperList>
        {{#each this.categories as |category|}}
          <PaperItem
            {{on "click" (fn this.goToCategory category)}}
            @class={{concat "menu-item" (if (is-current-route this.routeParam category) " active")}}
          >
            {{pretty-name category}}
          </PaperItem>
        {{/each}}
      </PaperList>

      <div class="layout-column flex">
        <PaperButton
          {{on "click" this.openCreateCategory}}
          @raised={{true}}
          @primary={{true}}
        >
          Create New Category
        </PaperButton>
      </div>
    </PaperContent>
  </PaperSidenav>
  {{/if}}
    
  <div id="main" class="flex layout-column" tabindex="-1" role="main">
    <PageToolbar @title={{this.routeName}} />
    <div class="wrapper">
      {{outlet}}
    </div>
  </div>
</PaperSidenavContainer>

{{#if this.creatingCategory}}
<PaperDialog @onClose={{fn this.closeCreateCategory}} @clickOutsideToClose={{true}}>
  <PaperToolbar>
    <PaperToolbarTools>
      <h2>Create Category</h2>
      <span class="flex"></span>
      <PaperButton @iconButton={{true}} @onClick={{fn this.closeCreateCategory}}><PaperIcon @icon="close" /></PaperButton>
    </PaperToolbarTools>
  </PaperToolbar>
  <PaperDialogContent>
    <div class="layout-column">
      <PaperInput @label="Create New Category" @value={{this.name}} @onChange={{fn (mut this.name)}} />
      <PaperButton
        {{on "click" this.createCategory}}
        @raised={{true}}
        @primary={{true}}
      >
        Create
      </PaperButton>
    </div>
  </PaperDialogContent>
</PaperDialog>
{{/if}}