<PaperToolbar @accent={{true}} @class="md-whiteframe-1dp page-main-toolbar" as |toolbar|>
  <toolbar.tools>
    <div class="layout-row flex">
      <h2>
        Help Me Decide
      </h2>
    </div>
  </toolbar.tools>
</PaperToolbar>

<div class="wrapper">
  <p>Sick of trying to figure out what to decide on from a never ending list of items? Use our tool to help you decide on which one!</p>
  <ol>
    <li>Create a category</li>
    <li>Create items with tags for future filtering</li>
    <li>Filter your list using the tags you added to the items</li>
    <li>Tell us to decide!</li>
  </ol>
  <p>And if you don't like what we chose for you, decide again!</p>

  <PaperButton
    @href="/categories"
    @raised={{true}}
    @primary={{true}}
  >
    View Categories
  </PaperButton>
</div>