@import './variables';
@import './helpers';
@import 'ember-paper';
@import './partials/_bottom-toolbar';

.wrapper {
  padding: 0 $mobileGutter;
  overflow-y: scroll;

  @include medium {
    padding: 0 $desktopGutter;
  }
}

.site-nav-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.menu-item {
  &.active {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.md-fab {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}