@mixin small {
  @media (min-width: #{$screen-sm-min}) {
      @content;
  }
}

@mixin medium {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}

@mixin large {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}

@mixin extraLarge {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}