{{#if (greater-than this.tags.length 0)}}
<PaperChips 
  @removeItem={{fn this.removeFilter}}
  @addItem={{fn this.addFilter}}
  @placeholder="Add a filter"
  @content={{this.filters}}
  @options={{this.remainingFilters}}
  @requireMatch={{true}}
/>
{{/if}}

<div class="layout-row flex">
  <PaperButton
    {{on "click" this.chooseItem}}
    @disabled={{this.cantDecide}}
    @raised={{true}}
    @primary={{true}}
  >
    Decide for me
  </PaperButton>
</div>

<br><br>

<PaperList>
  {{#each this.filteredItems as |item|}}
    <PaperItem @class="md-3-line">
      <div class="md-list-item-text">
        <h3>{{item.name}}</h3>
        <p>{{item.description}}</p>
        <PaperChips @content={{item.tags}} @readOnly={{true}} />
      </div>
    </PaperItem>
  {{/each}}
</PaperList>

{{#unless this.createNewItem}}
  {{#unless this.isItemSelected}}
  <PaperButton @raised={{true}} @fab={{true}} {{on "click" this.createItem}} @accent={{true}}>{{paper-icon "edit"}}</PaperButton>
  {{/unless}}
{{/unless}}

{{#if this.createNewItem}}
<PaperDialog @onClose={{fn "cancelCreateItem"}} @clickOutsideToClose={{true}}>
  <PaperToolbar>
    <PaperToolbarTools>
      <h2>Add Item</h2>
      <span class="flex"></span>
      <PaperButton @iconButton={{true}} {{on "click" this.cancelCreateItem}}>{{paper-icon "close"}}</PaperButton>
    </PaperToolbarTools>
  </PaperToolbar>
  <PaperDialogContent>
    <Item::Create @addItem={{this.addItem}}/>
  </PaperDialogContent>
</PaperDialog>
{{/if}}

{{#if this.isItemSelected}}
<PaperDialog @onClose={{fn this.closeSelectedItem}} @clickOutsideToClose={{true}}>
  <PaperToolbar>
    <PaperToolbarTools>
      <h2>We Decided for You</h2>
      <span class="flex"></span>
      <PaperButton @iconButton={{true}} {{on "click" this.closeSelectedItem}}>{{paper-icon "close"}}</PaperButton>
    </PaperToolbarTools>
  </PaperToolbar>
  <PaperDialogContent>
    <Item::Display @selectedItem={{this.selectedItem}}/>
    <PaperButton
      {{on "click" this.chooseItem}}
      @raised={{true}}
      @accent={{true}}
    >
      No, Not That One!
    </PaperButton>
  </PaperDialogContent>
</PaperDialog>
{{/if}}