<PaperToolbar @accent={{true}} @class="md-whiteframe-1dp page-main-toolbar" as |toolbar|>
  <toolbar.tools>
    <PaperSidenavToggle as |toggleAction|>
      <PaperButton @class="hide-gt-sm" {{on "click" this.toggleAction}} @iconButton={{true}}>
        {{paper-icon "menu"}}
      </PaperButton>
    </PaperSidenavToggle>
    <div class="layout-row flex">
      <h2>
        {{@title}}
      </h2>
    </div>
  </toolbar.tools>
</PaperToolbar>